* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
width: 1280px;
background: #2C2B3D;
color: white;
margin: auto;

}

#container {

}

header {
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  width: 1150px;
}

header nav {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 28px;
  width: 306px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

ul a {
color: #FFF;
text-align: center;
font-family: 'JetBrains Mono', monospace;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 28px;
text-decoration: none;
}

main {
  display: flex;
  justify-content: space-between;
  width: 1150px;
  margin-top: 102px;
  margin-bottom: 170px;
  
}

section {
  text-align: center;
}

h1 {
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
}

main p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
  font-weight: 400;
  padding: 40px;
}

main span {
  color: #00BFA6;
}


#line {
  border: #00BFA6 solid 1px;
  width: 568px;
  margin: 23px auto 27px;
}

footer {
text-align: center;
font-family: 'JetBrains Mono', monospace;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}


#cadeado {
  position: fixed;
  left: 0;
}

/* fonts 
font-family: 'JetBrains Mono', monospace;
font-family: 'Open Sans', sans-serif;
*/